<div class="user-show-container f c">
  <div class = 'user-data f c'>
    <%= render 'shared/user_info', user: @user%>
    <div class = "user-bio f c">
      <span>Bio</span>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <div class="user-posts f c">
    <% if @user.posts.present? %>
      <% @user.recent_posts.each do |post| %>
        <a class="post-container f c" href="/users/<%= @user.id %>/posts/<%= post.id %>">
          <%= render 'shared/post_info', post: post%>
        </a>
      <% end %>
    <button class="button-a f">
      <%= link_to "See all posts", user_posts_url(@user), class: "button primary" %></button>
    <% else %>
      <article class="post-info f c">
        <p class="post-text">This user has no posts yet</p>
      </article>
      <%= render 'shared/new_post', user: @user%>
    <% end %>
  </div>
</div>
