<div class="post-full-info f c">
  <div class="post-full-header f r">
    <h3 class="post-title"><%= post.title %> by <%= post.author.name %></h3>
    <span class="post-counters">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
  </div>
  <p><%= post.text %></p>
</div>
<%= render 'shared/comments_list', comments: post.comments%>
<%= render 'shared/delete_post', user: post.author_id, post: post%>