<div class="posts-index f c">
  <%= render 'shared/user_info', user: @user%>
  <% @posts.each do |post| %>
    <a class="post-container f c" href="/users/<%= @user.id %>/posts/<%= post.id %>"> 
      <%= render 'shared/post_info', post: post%>
      <%= render 'shared/comments_list', comments: post.recent_comments%>
    </a>
  <% end %>
  <%= will_paginate @posts %>
  <button class="button-a pagination f">
    <a href="/users/<%= @user.id %>/posts/new">New post</a>
  </button>
<div>